<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Bachelor in Environmental Engineering</h1>
            <span>Helsinki Metropolia University of Applied Sciences</span>
            <span><address>Leiritie 1, Vantaa, Finland</address><time>2015 to 2020</time></span>
        </header>
        <p>
            <em>Thesis: Spatial Interpolation in Water Runoff : Hydrology in Vietnam, Laos and Cambodia Sharma (2019)</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Data Science and Machine Learning</h1>
            <span>Integrify</span>
            <span><address>Helsinki, Finland</address><time>2020 to 2021</time></span>
        </header>
        <p>
            <em>Dissertation: Working with real time data.</em>
        </p>
    </article>
</section>
