<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Master's in Statistical Data Analyst</h1>
            <span>Tampere University</span>
            <span><address>Tampere, Finland</address><time>2022 to Present</time></span>
        </header>
        <p>
            <em>Major is statistics and computing sciences</em>
        </p>
    </article>
    <article>
        
        <header>
            <h1>Bachelor in Environmental Engineering</h1>
            <span>Helsinki Metropolia University of Applied Sciences</span>
            <span><address>Leiritie 1, Vantaa, Finland</address><time>2015 to 2020</time></span>
        </header>
        <p>
            <em>Thesis: Spatial Interpolation in Water Runoff : Hydrology in Vietnam, Laos and Cambodia Sharma (2019)</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Chartered Accountant Proficiency - I</h1>
            <span>Institute of Chartered Accountant of Nepal - (ICAN)</span>
            <span><address>Kathmandu, Nepal</address><time>2010-2012</time></span>
        </header>
        <p>
            <em>Inclusion: Accounting, Economics, Business communication, Mathematics, Statistics, Management and organizational relations, Information Technology</em>
        </p>
    </article>
</section>
