<section class="thirteen columns">
    <h1>Relevent Work Experience</h1>
    <article>
        <header>
            <h1>Warehouse Worker</h1>
            <span><address>Lidl Suomi Oy, Järvenpää, Finland</address><time>March 2020 - September 2022</time></span>
            <p>Working as a warehouse worker in Finland makes me understand the working culture of Finland and deeply learn my responsibilities as an employee in the aspects of work safety, environmental conscience, and sanitation. As a team member of the operation department, my core task was to check, collect and relocate the ordered goods for proper dispatch.</p>
        </header>
    </article>
    <article>
        <header>
            <h1>Geographic Information System Assistant</h1>
            <span><address>Alternative Energy Promotion Center, Kathmandu, Nepal </address><time>May - Aug,  2019</time></span>
            <p>Collecting spatial data, analysing data, producing GIS based Solar radiation maps and assisting with the decison making</p>
        </header>
    </article>
    <article>
        <header>
            <h1>Teacher</h1>
            <span><address>Little Heaven English Boarding School, Chitwan, Nepal</address><time>2012 to 2015</time></span>
        </header>
        <p>Teaching experience for three years up to the secondary level students has precisely developed my social and communication skills. In addition, this experience also helps me develop my social cognition, and increase my ability to make people understand what I have learned. </p>
    </article>
</section>
