<section class="thirteen columns">
    <h1>Relevent Work Experience</h1>
    <article>
        <header>
            <h1>Lidl Suomi Ry</h1>
            <span><address>Riffikatu 4, 04420 Järvenpää</address><time>Present</time></span>
            <p>Goods Picker</p>
        </header>
        <header>
            <h1>Web App Developer</h1>
            <span><address>Test Center Nepal, Kathmandu, Nepal</address><time>6 month - Remote</time></span>
            <p>Development of Web application for automate test scoring using speech recognition system</p>
        </header>
    </article>
    <article>
        <header>
            <h1>Geographic Information System Assistant</h1>
            <span><address>Alternative Energy Promotion Center, Kathmandu, Nepal </address><time>May - Aug,  2019</time></span>
            <p>Collecting spatial data, analysing data, producing GIS based Solar radiation maps and assisting with the decison making
                <div>Certification : <a href="https://drive.google.com/file/d/1BXcRo8AFpyOnwpsU6GgK_ceFl4RPBHNm/view?usp=share_link", target="_blank">AEPC Certificate</a></div>
            </p>
        </header>
    </article>
    <article>
        <header>
            <h1>Bachlor Thesis</h1>
            <span><address>Spatial Interpolation in Water Runoff, Helsinki, Finland</address><time>Aug 2019 - Jan 2020</time></span>
        </header>
        <p><li>Prediction of runoff values</li> 
        <li>Conversion and error analysis of low-resolution data model to high resolution</li>
        <a href="https://www.theseus.fi/bitstream/handle/10024/267632/Thesis-Spatial%20Interpolation%20in%20Water%20Runoff.pdf?sequence=2", target="_blank">
            <em>Thesis: Spatial Interpolation in Water Runoff : Hydrology in Vietnam, Laos and Cambodia Sharma (2019)</em>
        </a>
    
    </p>
    </article>
</section>
