<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Teacher</h1>
            <span><address>Chitwan, Nepal</address><time>2012 to 2015</time></span>
        </header>
        <p>Little Heaven English Boarding School is in the small town of chitwan. I got an opportunity to work in this amagizing school for three years, teaching the students the science subject upto secondary level </p>
    </article>
    <article>
        <header>
            <h1>Early morning news paper delivery</h1>
            <span><address>Helsinki, Finland</address><time>2016 to 2019</time></span>
        </header>
        <p>Task was to complete the distribution of News paper by maintaining proper time management</p>
    </article>
    <article>
        <header>
            <h1>Unit testing</h1>
            <span><address>Teacher's Own Project</address><time>2 months</time></span>
        </header>
        <p>Task was to perfom unit test for the teacher's project in the R-studio</p>
    </article>
    <article>
        <header>
            <h1>Geographic Information System Assistant</h1>
            <span><address>Alternative Energy Promotion Center, Kathmandu, Nepal </address><time>4 months</time></span>
            <p>Collecting spatial data, developing informative maps and assisting with the decison making</p>
        </header>
    </article>
</section>
