<section class="thirteen columns">
    <h1>Training and Development</h1>
    <article>
        <header>
            <h1>Data Science and Machine learning Engineer</h1>
            <span><address>Integrify, Helsinki - Finland</address><time>Oct 2020 - March 2021</time></span>
        </header>
        <p>
            <div>Project conquered</div>
            <li><a href="https://github.com/Suraj192/Object_detection", target="_blank">Object detection</a></li>
            <li><a href="https://github.com/Suraj192/project_data_tidy", target="_blank">Project Data tidy</a></li>
            <li><a href="https://github.com/Suraj192/Weather-Accident-Analysis-US", target="_blank">Weather Accident Analysis</a></li>
            <li><a href="https://github.com/Suraj192/PCA_and_ModelSelection", target="_blank">PCA and model Selection</a></li>
            <li><a href="https://github.com/Suraj192/ML-Analysis_Wine_dataset", target="_blank">Machine Learning Analysis of Wine dataset</a></li>
            <div><a href="https://drive.google.com/file/d/1jera1Ly_3LiNRSA5PHbSVQ_8KRDOrf23/view?usp=sharing", target="_blank">Certificate of completion</a></div>
        </p>
    </article>
    <article>
        <header>
            <h1>Completion of Datascience Whole module - Dataquest</h1>
            <span><address>Dataquest - Online tutorial</address><time>2020-2021</time></span>
        </header>
        <p>
          All 33 module certification is uploaded to the linkedin Licenses and Certification part.
          For immediate navigation to linkedin <a href="https://www.linkedin.com/in/suraj-sharma-a54060127/details/certifications/", target="_blank">Click here</a>  
        </p>
    </article>
</section>