<section class="thirteen columns">
    <h1>Training and Achievements</h1>
    <article>
        <header>
            <h1>Data Science and Machine learning Engineer</h1>
            <span><address>Integrify, Helsinki - Finland</address><time>Oct 2020 - March 2021</time></span>
        </header>
        <p> 
            <div><a href="https://drive.google.com/file/d/1jera1Ly_3LiNRSA5PHbSVQ_8KRDOrf23/view?usp=sharing", target="_blank">Certificate of completion</a></div>
        </p>
    </article>
    <article>
        <header>
            <h1>Completion of Datascience Whole module - Dataquest</h1>
            <span><address>Dataquest - Online tutorial</address><time>2020-2021</time></span>
        </header>
        <p>
          All 33 module certification is uploaded to the linkedin Licenses and Certification part.
          For immediate navigation to linkedin <a href="https://www.linkedin.com/in/suraj-sharma-a54060127/details/certifications/", target="_blank">--Certification LinkedIn--</a>  
        </p>
    </article>
</section>