<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Coursera Online Classes</h1>
            <span><address>Tutorial classes, Online</address><time>2019</time></span>
        </header>
        <p>
            Courses: 
            Getting and Cleaning Data.
            R Programming
            The Data Scientist's Toolbox
            Geospatial and Environmental Analaysis
            Fundamental of GIS
        </p>
    </article>
    <article>
        <header>
            <h1>Project Assistant</h1>
            <span><address>Nasa Engineering Consultancy, Kholesimal, Nepal</address><time>2013</time></span>
        </header>
        <p>
          Assisting in design process.
          Field visits and documentation.  
        </p>
    </article>
</section>