<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <p>
            <em>Programming Languages: </em> Python, Scala, Matlab, R, C++.  
        </p>    
        <p>
            <em>Data Analysis: </em> Dask, Numpy, Pandas, Spark, Beautifulsoup, Microsoft Excel.
        </p>
        <p>
            <em>Data Visualization: </em> Matplotlib, Seaborn, Plotly, Folium.
        </p>
        <p>
            <em>Database Management: </em> SQL
        </p> 
        <p>
            <em>Machine Learning: </em> Scikit-learn, Tensorflow, MLlib.
        </p>
        <p>
            <em>Web Development: </em> HTML, CSS, JavaScript.
        </p>
        <p>
            <em>Others: </em> Linux command
        </p>
    </article>
</section>