<section class="thirteen columns">
    <h1>Competence & Strength</h1>
    <article>
        <p>
            <li>Accurate Insites with Statistical data analytics</li>
            <li>Competence in Predictive modelling for the future events</li>
            <li>Competent in performing different supervised and unsupervised Machine learning models</li>
            <li>Competent in data mining, data visualization and automation</li> 
            <li>Competent in performing Dimension Reduction and analyzing cost effective model</li>
            <li>Competence in Web Application Development</li>
        </p>    
    </article>
    <h1>Implementation</h1>
    <article>
        <p><em>Script: </em> Python, R, Matlab, C++, Html, Javascript, SQL, Scala</p>
        <p><em>Library: </em> Numpy, Scikit-learn, MLib, Matplotlib, Seaborn, geoR, geoStat, etc.</p>
        <p><em>Other:</em> Linux command, Git command</p>
    </article>
</section>